@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --pblue: #6eabfd;
    --pblue1: #5598f0;
    --pred: rgb(172, 4, 4);
    --pgold: rgb(201, 149, 19);
    --pbg: #e9eaed;
    --pwhite: whitesmoke;
    --pdblue: rgb(3, 3, 97);
    --pgradient : linear-gradient(to right, #6eabfd 0%,#0f7fc9 15%,
    rgb(3, 3, 97) 30%, rgb(172, 4, 4) 100%);
}

body{
    background: var(--pbg);
}

/* Hero */
.defaultHero{
    min-height: calc(100vh );
    background: url("./images/img4.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner */
.banner{
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color:  var(--pblue);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.banner h1{
    font-size: 2.5rem;
}

.banner div{
    width: 20rem;
    height: 3px;
    background: rgb(194, 182, 248);
    margin: 1.2rem auto;
}

.banner p{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--pgold);
}

.btn-prm{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    background: rgb(172, 4, 4);
    padding: 0.4rem 0.9rem;
    border: 3px solid rgb(172, 4, 4);
    transition: all 0.3s linear;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-prm:hover{
    background: transparent;
}

/* About */
.container-about{
    margin: 20px 30px;
    /* border: 1px solid black; important */
}

.card-about{
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    
}

.card-about h2{
    padding: 20px;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--pdblue);
}
.card-about .sub{
    font-size: 40px;
    color: var(--pred);
    padding-top: 20px;
    font-family: 'Merienda', cursive;
    
}
.card-about .bar{
    width: 20rem;
    height: 3px;
    background: var(--pgradient);
    margin: 0rem auto;
}

.card-about p{
    margin: 20px 200px;
    font-size: 18px;
    color: var(--pdblue);
    font-weight: 300;
    padding-bottom: 20px;
    
}

.card-artist{
    
    background: url("./images/img5.jpg") center/cover no-repeat;
    min-height: calc(70vh);
    justify-content: center;
    text-align: center;

}


.card-artist h2{
    
    font-size: 35px;
    padding-top: 120px;
    padding-bottom: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: whitesmoke;
}
.card-artist .sub{
    font-size: 40px;
    color: var(--pred);
    padding-top: 20px;
    font-family: 'Merienda', cursive;
    
}
.card-artist .bar{
    width: 25rem;
    height: 3px;
    background: var(--pgradient);
    margin: 0rem auto;
}

.card-artist p{
    margin: 20px 200px;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 300;
    padding-bottom: 20px;
    
}
